# Node modules (frontend and backend)
node_modules/
**/node_modules/
dist/
build/


#logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#runtime
pids/
*pid
*.seed
*.pid.lock

coverage/

.DS_Store
Thumbs.db

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vite/

src-tauri/target/
src-tauri/.cargo/
src-tauri/Cargo.lock

.vscode/
.idea/
*.swp

*.exe
*.app.*.outt

package-lock.json
yarn.lock
pnpm-local.yaml
